/* main.css */

html,
body {
    background-color: white;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 400;
    src: url("../fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Roboto/static/Roboto-Italic.ttf") format("truetype");
}

/** header **/
header {
    display: flex;
    background-color: lightskyblue;
    text-align: center;
    padding: 20px;
    color: white;
    justify-content: space-between;
    align-content: center;
    font-family: "Roboto";
}

nav {
    align-content: center;
}

/** flexbox in main **/

main {
    text-align: center;
    font-family: "Roboto";
}

.flexbox {
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap row;
}

.box {
    background-color: whitesmoke;
    color: black;
    margin: 10px;
}

img {
    align-self: flex-end;
    margin: 10px;
}